<div>
	<div v-if="$store.state.loading" class="loading">
		<p>Loading payments...</p>
	</div>
	<div v-else class="payments" v-cloak>
		<div class="payments-search">
			<input v-model="$store.state.search" type="text" class="search-input" placeholder="Search for anything..." autofocus/>
		</div>
		<div class="payments-controls">
			<button class="button">Edit</button>
			<button class="button">Save</button>
		</div>
		<div class="payments-table">
			<div class="row">
				<div class="column" @click="sortBy('id')">
					<span v-if="$store.state.sort.category == 'id'">
						<i v-if="$store.state.sort.direction == 'desc'" class="fas fa-sort-amount-down"></i>
						<i v-if="$store.state.sort.direction == 'asc'" class="fas fa-sort-amount-up"></i>
					</span>ID						
				</div>
				<div class="column" @click="sortBy('name')">
					<span v-if="$store.state.sort.category === 'name'">
						<i v-if="$store.state.sort.direction === 'desc'" class="fas fa-sort-amount-down"></i>
						<i v-if="$store.state.sort.direction === 'asc'" class="fas fa-sort-amount-up"></i>
					</span>Name
				</div>						
				<div class="column" @click="sortBy('description')">
					<span v-if="$store.state.sort.category === 'description'">
						<i v-if="$store.state.sort.direction === 'desc'" class="fas fa-sort-amount-down"></i>
						<i v-if="$store.state.sort.direction === 'asc'" class="fas fa-sort-amount-up"></i>
					</span>Description
				</div>
				<div class="column" @click="sortBy('date')">
					<span v-if="$store.state.sort.category === 'date'">
						<i v-if="$store.state.sort.direction === 'desc'" class="fas fa-sort-amount-down"></i>
						<i v-if="$store.state.sort.direction === 'asc'" class="fas fa-sort-amount-up"></i>
					</span>Date
				</div>
				<div class="column" @click="sortBy('amount')">
					<span v-if="$store.state.sort.category === 'amount'">
						<i v-if="$store.state.sort.direction === 'desc'" class="fas fa-sort-amount-down"></i>
						<i v-if="$store.state.sort.direction === 'asc'" class="fas fa-sort-amount-up"></i>
					</span>Amount
				</div>
			</div>
			<div class="row" v-for="(item, index) in filteredPayments">
				<div class="column"><input @keyup="editPayment(filteredPayments[index].id)" type="text" v-model="filteredPayments[index].id" class="input"/></div>
				<div class="column"><input @keyup="editPayment(filteredPayments[index].id)" type="text" v-model="filteredPayments[index].name" class="input"/></div>
				<div class="column"><input @keyup="editPayment(filteredPayments[index].id)" type="text" v-model="filteredPayments[index].description" class="input"/></div>
				<div class="column"><input @keyup="editPayment(filteredPayments[index].id)" type="text" v-model="filteredPayments[index].date" class="input"/></div>
				<div class="column"><vue-numeric @keyup.native="editPayment(filteredPayments[index].id)" :minus="true" :precision="2" currency="$" v-model="filteredPayments[index].amount" class="input"></vue-numeric></div>
			</div>
		</div>
		<transition name="fade">
			<div v-if="$store.state.saved" class="notifications">
				<p>Saved!</p>
			</div>
		</transition>
	</div>
</div>
